<div class="collapsable collapsable--expanded">
    <header class="collapsable__header">
        <h2 class="collapsable__heading">Some text</h2>
        <svg class="icon icon--white collapsable__chevron">
            <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
        </span>
    </header>
    <div class="collapsable__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vel saepe
        numquam sint quos nobis nihil unde obcaecati amet nostrum.</div>
</div>