<footer class="block dark--block footer">
    <div class="container grid footer__sections">
        <section class="collapsable collapsable--expanded footer__section">
            <header class="collapsable__header">
                <h2 class="collapsable__heading footer__heading">Products</h2>
                <svg class="icon icon--white collapsable__chevron">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
                </span>
            </header>
            <div class="collapsable__content">
                <ul>
                    <li><a href="#">Web Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#">Migrations</a></li>
                </ul>
            </div>
        </section>

        <section class="collapsable footer__section">
            <header class="collapsable__header">
                <h2 class="collapsable__heading footer__heading">Item 2</h2>
                <svg class="icon icon--white collapsable__chevron">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
                </span>
            </header>
            <div class="collapsable__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vel
                saepe
                numquam sint quos nobis nihil unde obcaecati amet nostrum.</div>
        </section>
        <section class="collapsable footer__section">
            <header class="collapsable__header">
                <h2 class="collapsable__heading footer__heading">Item 3</h2>
                <svg class="icon icon--white collapsable__chevron">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
                </span>
            </header>
            <div class="collapsable__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vel
                saepe
                numquam sint quos nobis nihil unde obcaecati amet nostrum.</div>
        </section>
        <section class="collapsable footer__section">
            <header class="collapsable__header">
                <h2 class="collapsable__heading footer__heading">Item 4</h2>
                <svg class="icon icon--white collapsable__chevron">
                    <use xlink:href="icons/sprite.svg#chevron"></use>
                </svg>
                </span>
            </header>
            <div class="collapsable__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vel
                saepe
                numquam sint quos nobis nihil unde obcaecati amet nostrum.</div>
        </section>
        <section class="footer__brand">
            <img src="/images/logo.svg" alt="">
            <p class="footer__copyright">Copyright 2021 Mosh Hamedani</p>
        </section>
    </div>
</footer>