<section class="block container">

    <article class="grid grid--col2 feature">
        <div>
            <span>
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id libero esse odio impedit perspiciatis!
                Quaerat tenetur veniam nihil velit aliquid.</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>

        <picture>
            <source type="image/webp" srcset="/images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="image/png" srcset="/images/easy.png 1x, images/easy@2x.png 2x">
            <img class="feature__image" src="/images/easy.png" alt="">
        </picture>
    </article>

    <article class="grid grid--col2 feature">


        <picture>
            <source type="image/webp" srcset="/images/easy.webp 1x, images/easy@2x.webp 2x">
            <source type="image/png" srcset="/images/easy.png 1x, images/easy@2x.png 2x">
            <img class="feature__image" src="/images/easy.png" alt="">
        </picture>

        <div>
            <span>
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super easy to use</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id libero esse odio impedit
                perspiciatis!
                Quaerat tenetur veniam nihil velit aliquid.</p>
            <a href="#" class="link-arrow">Learn more</a>
        </div>
    </article>

</section>