<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur placeat officia
        repudiandae dolore
        labore veritatis quisquam sit doloribus neque nihil.</p>
    <div class="media">
        <div class="media__image">
            <svg class="icon icon--primary quote__image">
                <use xlink:href="icons/sprite.svg#line"></use>
            </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">Mosh Homedani</h3>
            <p class="quote_organization">Mosh Corp, CEO</p>
        </div>
    </div>
</blockquote>